@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: hsl(0, 0%, 98%);
}

header{
    text-align: center;
}